.product {
   border: 3px solid #b7bbbe;
   border-radius: 5px;
   width: 220px;
   display: inline-block;
   margin-right: 15px;
   padding-top: 10px;
   padding-bottom: 10px;

}

.product:hover {
  border-color: rgb(69, 58, 57);
   box-shadow:1px 1px 15px rgb(144,144,144);
}

.product h5 {
   margin: 0 0 5px 0;
   font-size: 20px;
   font-weight: bold;
}

.product img {
   width: 200px;
   height: 200px;
}

.product .prices {
   display:flex;
   flex-direction: row;
   justify-content: space-around;
}